aiofiles
aiohttp
aiolimiter
async_pymongo
gevent
gunicorn
flask
mutagen
pathvalidate
Pillow
psutil
psycopg2-binary
aiohttp-socks
pycryptodomex
pyrofork
python-dotenv
requests
tgcrypto-pyrofork
tqdm
bs4
pycryptodome
yt-dlp
aiohttp-socks
urllib3
git+https://github.com/kokarare1212/librespot-python
protobuf==3.20.1
