aiofiles
aiohttp
aiolimiter
motor
gevent
gunicorn
flask
mutagen
pathvalidate
Pillow
psutil
psycopg2-binary
aiohttp-socks
pycryptodomex
git+https://github.com/KurimuzonAkuma/pyrogram
python-dotenv
requests[socks]
TgCrypto
tqdm
bs4
pycryptodome
yt-dlp
urllib3
git+https://github.com/kokarare1212/librespot-python
protobuf==3.20.1
speedtest-cli
aioaria2
uvloop
